{% load staticfiles compress i18n %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PB3HLKR');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">

    {% block extrameta %}
    {% endblock %}

    <title>{% block title %}Wikilegis{% endblock %}</title>
    {% block styles %}
      {% compress css %}
      <link type="text/x-scss" rel="stylesheet" href="{% static 'styles/app.scss' %}"/>
      {% endcompress %}
    {% endblock styles %}

    {% block extra_styles %}{% endblock extra_styles %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB3HLKR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wikilegis__alert hidden" data-wikilegis-alert>
      <i class="alert__dismiss icon icon-times" data-dismiss-alert="true"></i>
      <h1 class="alert__header" data-alert-header></h1>
      <p class="alert__text" data-alert-text></p>
    </div>

    {% block content %}
    {% endblock content %}

    <script>
      var strings = {
        emptyCommentTitle: "{% trans 'Oops' %}",
        emptyCommentText: "{% trans 'You cannot send an empty comment :(' %}",
        emptyAmendmentTitle: "{% trans 'Oops' %}",
        emptyAmendmentText: "{% trans 'You cannot send an empty amendment :(' %}",
        sameAsSegmentTitle: "{% trans 'Oops' %}",
        sameAsSegmentText: "{% trans 'Your suggestion has the same text of original segment' %}",
        userNotLoggedInTitle: "{% trans 'User not logged in' %}",
        userNotLoggedInText: "<a href=\"{% url 'login' %}\">{% trans 'Click here' %}</a> {% trans 'to log in' %}",
      };
      var prefixURL = '{{prefix_url|default_if_none:""}}';
      var segmentsList = null;
    </script>

    {% block javascript %}
      {% compress js %}
        <script type="module" src="{% static 'javascript/app.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
